<main>
  <p [innerHTML]="incomingRaa.riddle">
    <!--{{ incomingRaa.riddle }}-->
  </p>
</main>
<ng-form>
	<tui-input
		[formControl]="textValue"
		tuiTextfieldSize="l"
		[tuiTextfieldCleaner]="true"
		[tuiTextfieldLabelOutside]="true"
	>
		Unesi odgovor
		<input tuiTextfield type="text" />
	</tui-input>
	<div>
		<button
			tuiButton
			[ngClass]="{ 'shake-class': isWrongError }"
			[disabled]="incomingRaa.icon === LOCKSTATUS.UNLOCKED"
			(click)="submitAnswer()"
		>
      <tui-svg src="tuiIconSendLarge"></tui-svg>
		</button>
	</div>
	<!--<img src="assets/img/img.png" width="30%">-->
</ng-form>
