<main>
  <header>
    Test
  </header>

  <tui-tabs [(activeItemIndex)]="currentRAA.id">
    @for (rAndA of riddlesAndAnswers; track rAndA.id ) {
      <button
        tuiTab
        [disabled]="rAndA.disabled"
        (click)="sendToChild(rAndA)"
      >
        <tui-svg
          src="{{rAndA.icon}}"
        ></tui-svg>
      </button>
    }
  </tui-tabs>
  <app-cracker-input
    [incomingRaa]="currentRAA"
    (rAAEmitter)="receiveData($event)"
  ></app-cracker-input>
</main>
